*{margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
color:black;
}

nav {
    display:flex;
    
    justify-content: space-evenly;
    padding: 30px;
    height:80px;
background-color:#fdbb2d;
}
nav li {
    font-family: 'Noto Serif';
    font-weight: bolder;
    font-size: 20px;
    
}
nav li a {
   color:#212121;
}
nav li a span{
  color:#ffffff;
}


 .Home {
   
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 90vh;
    background-image: url("photo\ 3\ 2.png");
    background-size: 30% auto;
  background-position: right center;
  background-repeat: no-repeat;
background-color: #ffffff;
 }
 
 .text {
    margin-right: 190px;
    text-align: left;
    font-family: 'noto serif';
    
 }
 .Home h1,h3 {
    margin-bottom:35px;

 }
 .Home h3{
  font-size:30px;
  font-family:'roboto'
 }
 .Home h1 {
    font-family: 'roboto';
    font-size:45px ;
 }
 .Home h1 span{
  color:#FEBE10;
  font-family:'noto serif' ;
 }
 .Home p {
    margin-bottom: 205px;
    font-family: 'Salsa';
    font-size: 16px;

    

 }
.about {
   display: flex;
   justify-content: space-between;
   height: 100vh;
   background-color: #FEBE10;
   color: #ffffff;
   
   
   
   
}

.image img {
   width:115%;
   height:auto;
   margin-top: 100px;
}
 .text2 {
padding-left: 20px;
color: #ffffff;
   
   
 }
 .text2 h1{
   font-size:40px ;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 12px;
   font-family: 'noto serif';
 }
 .text2 p {
   
   font-size:16px;
   line-height:3;
   font-size: 17px;
   color: #000000;
   font-family: 'salsa';
 }
 .skill-main {
   height: 85vh;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   width: 100%;
   grid-row-gap:30px;
   grid-column-gap:50px;
   
 }
 .main-text{
  text-align: center;
  margin: 40px;
  font-size: 30px;
  font-family: 'noto serif';
 }
 .skill-bar{
  margin-bottom:3rem;
  padding-left: 20px;

  }
.skill-main h3{
  margin-bottom: 2rem;
  text-align: center;
}
.skill-left h3{
  font-size: 25px;
  margin-bottom: 80px;
  font-family: 'noto serif';
  color: #FEBE10;
}
.skill-right h3{
  font-size: 25px;
  margin-bottom: 80px;
  font-family: 'noto serif';
  color:#FEBE10;
}
.skill-left .skill-bar .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 10px;
}
.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  border-radius:25px;
  margin-top:10px;
  background-color: black;
  position: relative;
}
 .skill-bar .bar span{
  width:50%;
  height:100%;
  position:absolute;
  left:0;
  border-radius: 25px;
  background-color: #FEBE10;
  box-shadow:red;
 }
 .skill-bar .bar .html{
  width: 80%;
  animation: html 2s;
 }
 .skill-bar .bar .css{
  width: 70%;
  animation: css 3s;
 }
 .skill-bar .bar .javascript{
  width: 60%;
  animation: javascript 4s;
 }
 .skill-bar .bar .python{
  width:50%;
  animation: python 5s;
 }
 .professional{
  display: grid;
  grid-template-columns: 1fr 1fr;

 }
 .professional p{
  text-align: justify;
  line-height: 80px;
  font-size: 18px;
  -webkit-box-shadow:0px 0px 111px 0px rgba(254,191,16,0.9);
-moz-box-shadow: 0px 0px 111px 0px rgba(254,191,16,0.9);
box-shadow: 0px 0px 111px 0px rgba(254,191,16,0.9);
 }
 .resume{
  height:100vh;
  background-color: #FEBE10;
 }
 .resume h1{
  margin:40px;
  padding-top: 40px;
  font-size: 40px;
  text-align: center;
  font-family: 'noto serif';
 }
 .resume button {
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 20px;
  font-family: 'noto serif';
  color: #FEBE10;
  font-size: 31px;
  background: #fff;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  position: absolute;
  top: 360%;
  right: 37%;
}

.resume button:hover {
  background: #FEBE10;
  background-image: -webkit-linear-gradient(top, #febe10, #2a2c2e);
  background-image: -moz-linear-gradient(top, #febe10, #2a2c2e);
  background-image: -ms-linear-gradient(top, #febe10, #2a2c2e);
  background-image: -o-linear-gradient(top, #febe10, #2a2c2e);
  background-image: linear-gradient(to bottom, #febe10, #2a2c2e);
  text-decoration: none;
}

.contacts {
  background-color: #f2f2f2;
  padding: 50px 0;
  text-align: center;
  height: 100vh;
}
.main-text h2{
  margin-top: 30px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 90px;
}

.info-item {
  background-color: #FEBE10;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 20px 20px 0;
  padding: 20px;
  flex-basis: calc(33.333% - 20px);
  text-align: left;
}

.info-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.info-item p {
  font-size: 16px;
  margin-bottom: 0;
  font-family: 'noto serif';
  color: #fff;
}

.info-item a {
  color: #fff;
  text-decoration: none;
  font-family: 'noto serif';
}

.info-item a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .info-item {
    flex-basis: 100%;
  }
}
 





@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }
  100% {
    z-index: 100;
    transform: rotate(270deg);
  }
}
@keyframes load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }
  100% {
    z-index: 100;
    transform: rotate(315deg);
  }
}
@keyframes html {
    0% {
      width: 0%
    }
    100% {
      width:80%
    }
}
@keyframes css {
  0% {
    width: 0%
  }
  100% {
    width:70%
  }
}
@keyframes javascript {
  0% {
    width: 0%
  }
  100% {
    width:60%
  }
}
@keyframes python {
  0% {
    width: 0%
  }
  100% {
    width:50%
  }
}
